body {
    background: #18122B;
}

textarea {
    letter-spacing: -0.075rem;
}

p {
    color: #635985;
}

#img-canvas {
    display: none;
}

#img-to-ascii {
    border: 3px solid #393053;
    color: #635985;
    font-family: monospace;
    background-color: 443C68;
    max-width: 90%;
    max-height: 50%;
}

#drawable-canvas {
    background-color: white;
    position:absolute;
    top: 5%;
}

#canvas-col-div {
    top: 15vh;
}

.output-box {
    width:auto;
    font-family: monospace;
    letter-spacing: -0.075rem;
    line-height: normal;
    letter-spacing: -1.2px;
}